.site-header-shown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-shown .language-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-shown .language-buttons .language-button {
    color: #B2BABC;
    font-family: 'Proxima Nova',sans-serif;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.site-header-shown .language-buttons .language-button input[type="radio"]:checked + .text {
    color: #199EDF;
}